<div class="banner banner-commun" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.6) 0%, rgba(0,0,0,0.6) 40%), url( <%= asset_path("testimonial-header.jpg") %> );">
  <div class="banner-content">
    <h1><%= t(:team_title) %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="country">
      <h3>in the UK </h3>
      <%= image_tag 'team-uk.png'%>
    </div>
  </div>
  <div class="col-md-8">
    <h3><%= t(:team_uk) %></h3>
    <div class="team-cards">
      <% @teams.each do |member| %>
      <div class="team-card">
        <div class="team-card-picture">
          <%= cl_image_tag member.photo.path, class:'avatar-bordered', height:90, width:90, crop: :thumb, gravity: :face %>
        </div>
        <div class="team-card-name">
          <h3><%= member.name %></h3>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="country">
      <h3>in France </h3>
      <%= image_tag 'team-france.png'%>
    </div>
  </div>
  <div class="col-md-8">
    <h3><%= t(:team_france1) %></h3>
    <% @trades['engineer'].each do |trade| %>
    <ul class="list-inline">
      <li><%= trade['name']%></li>
    </ul>
    <% end %>
    <h3><%= t(:team_france2) %></h3>
    <% @trades['trades'].each do |trade| %>
    <ul class="list-inline">
      <li><%= trade['name']%></li>
    </ul>
    <% end %>

  </div>
</div>
