<div class="wrapper-footer">
  <div class="container">
    <div class="row">
      <div class="footer">
        <div class="footer-item">
          <h3>Dreamstones</h3>
          <ul class="list-unstyled">
            <li><p><%= link_to t(:home), root_path %></p></li>
            <li><p><%= link_to t(:process), process_path  %></p></li>
            <!-- <li><p><%= link_to t(:testimonial), testimonials_path %></p></li> -->
            <li><p><%= link_to t(:project), projects_path %></p></li>
            <li><p><%= link_to t(:team), teams_path %></p></li>
            <li><p><%= link_to 'Contact', "https://dreamstones.typeform.com/to/Tf4mZY", data: {mode: "1"}, target: "_blank", class: 'typeform-share' %></p></li>
            <li><p><%= link_to 'Legal mentions', mentions_path %></p></li>
          </ul>
        </div>
        <div class="footer-item">
          <h3>Dreamstones Offices</h3>
          <ul class="list-unstyled">
            <li><p> UK  <i class="fa fa-phone"></i> +44 (0) 141 312 3127</p></li>
            <li><p>Glasgow UK</p></li>
            <li><p>London UK</p></li>
            <li><p>Lyon FR</p></li>
          </ul>
        </div>
        <div class="footer-item">
          <h3>Openings hours</h3>
          <ul class="list-unstyled">
            <li>
              <p>Mon 9am - 8pm</p>
            </li>
            <li>
              <p>Tue 9am - 8pm</p>
            </li>
            <li>
              <p>Wed 9am - 8pm</p>
            </li>
            <li>
              <p>Thu 9am - 8pm</p>
            </li>
            <li>
              <p>Fri 9am - 8pm</p>
            </li>
            <li>
              <p>Sat 9am - 12pm</p>
            </li>
            <li>
              <p>Sun closed</p>
            </li>

          </ul>
        </div>
        <div class="footer-item">
          <%= image_tag 'logo-mini-text', class: 'logo-small' %>
        </div>
      </div>


      <!-- ################## LEGACY ######################## -->
      <!-- <div class="footer">
        <div class="col-xs-12 col-sm-3 col-md-2">
          <div class="footer-item text-center">
            <h3>Contact us</h3>
            <p><i class="fa fa-phone"></i> +44 (0) 141 312 3127</p>
            <p><%= link_to 'Legal mentions', mentions_path %></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2">
          <div class="footer-item">
            <div class="social text-right">
              <ul class="list-inline">
                <li><%= link_to 'https://www.facebook.com/dreamstonesltd' do %> <i class="fa fa-facebook"></i></li> <% end %>
                <li><%= link_to 'https://twitter.com/DreamstonesLtd' do %> <i class="fa fa-twitter"></i></li> <% end %>
                <li><%= link_to 'https://plus.google.com/115624335732118621654' do %> <i class="fa fa-google-plus"></i></li> <% end %>
              </ul>
            </div>
          </div>
        </div> -->
      <!-- <div class="col-xs-12 col-sm-3 col-md-2">
          <div class="footer-item">
            <h3></h3>
            <p></p>
          </div> -->

    </div>
  </div>
</div>
<div class="footer-copyright">
  Dreamstones Copyright © - <%= Date.today.strftime('%Y') %>
</div>
