<div class="wrapper-footer">
  <div class="container">
    <div class="row">
      <div class="footer">
        <div class="footer-item">
          <h3>Dreamstones</h3>
          <ul class="list-unstyled">
            <li><p><%= link_to t(:home), root_path %></p></li>
            <li><p><%= link_to t(:process), process_path  %></p></li>
            <!-- <li><p><%= link_to t(:testimonial), testimonials_path %></p></li> -->
            <li><p><%= link_to t(:project), projects_path %></p></li>
            <li><p><%= link_to t(:team), teams_path %></p></li>
            <li><p><%= link_to 'Contact', "https://dreamstones.typeform.com/to/Tf4mZY", data: {mode: "1"}, target: "_blank", class: 'typeform-share' %></p></li>
            <li><p><%= link_to 'Legal mentions', mentions_path %></p></li>
          </ul>
        </div>
        <div class="footer-item">
          <h3>Our Offices</h3>
          <ul class="list-unstyled">
            <li><p>Glasgow UK</p></li>
            <li><p>London UK</p></li>
            <li><p>Lyon FR</p></li>
            <li><p> UK  <i class="fa fa-phone"></i> +44 (0) 141 312 3127</p></li>
            <li><p>contact@dreamstones.co.uk</p></li>
          </ul>
        </div>
        <div class="footer-item">
          <h3>Opening hours</h3>
          <ul class="list-unstyled">
            <li>
              <p>Monday to Friday <br>
                9am - 8pm</p>
            </li>
              <p>Saturday <br>
                9am - 12pm</p>
            </li>
            </li>
              <p>Sunday <br>
                closed</p>
            </li>
          </ul>
        </div>
        <div class="footer-item">
          <div class="brand-logo">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 143 254">
            <path fill="#e3e5e9" fill-rule="evenodd" d="M122.249,220.1 C122.249,220.1 120.094,234.942 101.842,234.942 C84.798,234.942 80.972,219.174 80.972,219.174 C80.972,219.174 80.86,188.163 80.973,189.052 C81.7,190.996 85.445,196.911 101.61,196.911 C126.191,196.911 122.249,220.1 122.249,220.1 Z M40.321,193.289 C15.739,193.289 19.681,170.1 19.681,170.1 C19.681,170.1 21.838,154.33 40.088,154.33 C57.134,154.33 61.042,171.026 61.042,171.026 C61.042,171.026 60.997,201.722 61.042,202.075 C61.313,202.797 56.486,193.289 40.321,193.289 Z M134.351,192.646 C120.512,175.471 107.408,180.109 96.677,177.387 C76.005,172.148 88.968,145.647 108.123,154.022 C114.483,156.803 115.525,165.468 115.525,165.468 L135.78,165.468 C135.78,165.468 135.857,133.302 101.274,133.36 C89.437,133.382 80.973,138.414 80.973,138.414 L80.973,0 L61.042,0 L61.042,138.272 C61.042,138.272 52.565,133.432 42.891,133.432 C25.2,133.432 0,144.798 0,173.964 C0,204.115 22.801,214.274 40.635,215.958 C58.439,217.637 61.042,224.991 61.042,224.991 C61.042,224.991 67.869,253.417 101.588,253.506 C135.853,253.593 154.097,217.159 134.351,192.646 L134.351,192.646 Z"/>
          </svg><br>
          <span class="brand-name">Dreamstones</span>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright">
  Dreamstones Copyright © - <%= Date.today.strftime('%Y') %>
</div>
