<div class="wrapper-dark">
  <div class="container">
    <div class="row">
      <div class="home-features">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="home-feature text-center">
            <%= image_tag "images/quality.png", class: 'icon'%>
            <h3><%= t(:home_feature_title1) %></h3>
            <p><%= t(:home_feature_p1) %></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="home-feature text-center">
            <%= image_tag "images/unique-central.png", class: 'icon'%>
            <h3><%= t(:home_feature_title2) %></h3>
            <p><%= t(:home_feature_p2) %></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="home-feature text-center">
            <%= image_tag "images/cost-control.png", class: 'icon'%>
            <h3><%= t(:home_feature_title3) %></h3>
            <p><%= t(:home_feature_p3) %></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="home-feature text-center">
            <%= image_tag "images/certificat.png", class: 'icon'%>
            <h3><%= t(:home_feature_title4) %></h3>
            <p><%= t(:home_feature_p4) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
