<div class="wrapper-features">
  <div class="container">
    <div class="features">
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <div class="feature">
            <div class="icon">
              <%= image_tag "feature-experience.png"%>
            </div>
            <div><h3><%= t(:home_feature_title1) %></h3></div>
            <div class="feature-text"><p><%= t(:home_feature_p1).html_safe %></p></div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="feature">
            <div class="icon">
              <%= image_tag "feature-support.png"%>
            </div>
            <div><h3><%= t(:home_feature_title2) %></h3></div>
            <div class="feature-text"><p><%= t(:home_feature_p2).html_safe %></p></div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="feature">
            <div class="icon">
              <%= image_tag "feature-innovation.png"%>
            </div>
            <div><h3><%= t(:home_feature_title3) %></h3></div>
            <div class="feature-text"><p><%= t(:home_feature_p3).html_safe %></p></div>
          </div>
        </div>
      </div>
    </div>

      <div class="features">
        <div class="row">
          <div class="col-xs-6 col-md-4 col-md-offset-1">
            <div class="feature">
              <div class="icon">
                <%= image_tag "feature-architecture.png"%>
              </div>
              <div><h3><%= t(:home_feature_title4) %></h3></div>
              <div class="feature-text">
                <p><%= t(:home_feature_p4).html_safe %></p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4 col-md-offset-1">
            <div class="feature">
              <div class="icon">
                <%= image_tag "feature-network.png"%>
              </div>
              <div><h3><%= t(:home_feature_title5) %></h3></div>
              <div class="feature-text"><p><%= t(:home_feature_p5).html_safe %></p></div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
