<div class="wrapper-features">
  <div class="container-fluid">
    <div class="features">

      <div class="feature">

        <div class="feature-content">
          <div class="icon">
            <svg version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <g>
                <path
                  d="m97.234 31.762c0-4.1055-3.1328-7.5039-7.1445-7.9023-0.41016-1.2617-0.91797-2.4883-1.5117-3.6641 1.1523-1.418 1.793-3.1758 1.793-5.0195 0-2.125-0.82812-4.1211-2.3281-5.625-2.8164-2.8164-7.625-3.0312-10.66-0.54297-1.1719-0.60156-2.3984-1.1055-3.6562-1.5078-0.40625-4.0117-3.8008-7.1523-7.9102-7.1523-4.1055 0-7.5078 3.1406-7.9141 7.1523-1.2539 0.41406-2.4844 0.91797-3.6523 1.5078-3.0391-2.4961-7.8359-2.2734-10.648 0.54297-1.5 1.4961-2.3281 3.4961-2.3281 5.625 0 1.8555 0.63281 3.6211 1.7891 5.0195-0.60156 1.1797-1.1055 2.3984-1.5117 3.6641-4.0078 0.41016-7.1445 3.793-7.1445 7.9023 0 4.1133 3.1367 7.5078 7.1445 7.9023 0.41016 1.2617 0.91797 2.4883 1.5117 3.6641-1.1523 1.418-1.7891 3.1758-1.7891 5.0195 0 2.125 0.82812 4.1211 2.3281 5.625 2.8164 2.8164 7.6484 3.0117 10.648 0.54297 1.1797 0.59766 2.4023 1.1094 3.6523 1.5117 0.41016 4.0039 3.8008 7.1445 7.9102 7.1445s7.5039-3.1445 7.9102-7.1445c1.2539-0.41406 2.4805-0.92578 3.6562-1.5117 3.0391 2.4844 7.8359 2.2656 10.645-0.54297 1.5039-1.4961 2.3281-3.4961 2.3281-5.625 0-1.8555-0.62891-3.6133-1.7852-5.0195 0.60547-1.1797 1.1094-2.3984 1.5117-3.6641 4.0234-0.39453 7.1562-3.7891 7.1562-7.9023zm-31.414 9.4219c-5.1914 0-9.4141-4.2344-9.4141-9.4258 0-5.1914 4.2266-9.4219 9.4141-9.4219s9.418 4.2305 9.418 9.4219c0 5.1953-4.2266 9.4258-9.418 9.4258z"/>
                <path d="m71.074 31.762c0 2.9023-2.3516 5.2539-5.2539 5.2539-2.9023 0-5.2539-2.3516-5.2539-5.2539 0-2.9023 2.3516-5.2539 5.2539-5.2539 2.9023 0 5.2539 2.3516 5.2539 5.2539z"/>
                <path
                  d="m27.902 71.992c-0.32812-0.089844-0.66797-0.13672-1.0039-0.13672-1.6289 0-3.0742 1.0898-3.5195 2.6602-0.26562 0.94141-0.15234 1.9297 0.32422 2.7852s1.2539 1.4766 2.1953 1.7422c1.918 0.55078 3.9883-0.62891 4.5195-2.5156 0.26562-0.94141 0.15234-1.9297-0.32422-2.7852-0.47266-0.86719-1.2539-1.4805-2.1914-1.75z"/>
                <path
                  d="m47.137 74.441c-0.042969-0.84766-0.14062-1.6914-0.29297-2.5273 1.1211-0.85547 1.9375-2.0508 2.332-3.4414 0.48828-1.6992 0.27734-3.5-0.58203-5.0469-1.5547-2.8008-5.0859-4.1328-8.1367-2.9805-0.63281-0.57031-1.3047-1.0977-2-1.5781 0.42188-3.207-1.5625-6.332-4.7617-7.2305-3.1328-0.89844-6.5508 0.76562-7.8594 3.6445-0.85547 0.050781-1.6992 0.14062-2.5391 0.28906-1.9219-2.4961-5.6875-3.3047-8.4844-1.75-1.5469 0.86328-2.668 2.2773-3.1484 3.9805-0.39453 1.3906-0.33203 2.8359 0.17578 4.1602-0.57031 0.62891-1.0977 1.3047-1.582 1.9961-3.1953-0.43359-6.3477 1.6484-7.2383 4.7656-0.91016 3.1992 0.69531 6.5195 3.6484 7.8672 0.046875 0.85547 0.14062 1.6953 0.29297 2.5352-2.5625 1.9727-3.3672 5.5742-1.7461 8.4883 1.5625 2.793 5.1484 4.1016 8.1367 2.9727 0.63281 0.57422 1.3008 1.1055 1.9961 1.582-0.41797 3.2109 1.5664 6.3359 4.7695 7.2461 0.58594 0.16797 1.1953 0.25 1.8047 0.25 2.625 0 4.9922-1.5625 6.0508-3.9102 0.85547-0.042968 1.6992-0.13672 2.5391-0.29297 1.9141 2.4961 5.6758 3.3203 8.4844 1.75 1.5469-0.86328 2.6719-2.2773 3.1523-3.9805 0.39453-1.3906 0.32812-2.8477-0.17578-4.1602 0.56641-0.62891 1.0977-1.3047 1.5781-1.9961 3.2148 0.43359 6.3555-1.6484 7.2383-4.7695 0.91016-3.2031-0.70312-6.5195-3.6523-7.8633zm-12.703 3.2188c-0.95312 3.3555-4.0508 5.6875-7.5352 5.6875-0.72266 0-1.4414-0.097656-2.1367-0.29297-2.0078-0.57422-3.6797-1.8906-4.6953-3.7266-1.0234-1.8242-1.2695-3.9375-0.69922-5.957 1.1445-4.0391 5.582-6.5352 9.6719-5.3867 2.0078 0.57422 3.6797 1.8906 4.6953 3.7266 1.0195 1.8164 1.2656 3.9336 0.69922 5.9492z"/>
              </g>
            </svg>
          </div>
          <div class="feature-title"><%= t(:home_feature_title1) %></div>
          <div class="feature-text"><%= t(:home_feature_p1).html_safe %></div>
        </div>
      </div>

      <div class="feature">
        <div class="feature-content">
          <div class="icon">
            <!-- <%= image_tag "feature-support.png"%> -->
            <svg version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <path
                d="m50 14c-19.852 0-36 16.148-36 36s16.148 36 36 36 36-16.148 36-36-16.148-36-36-36zm17.125 63.027l-10.355-10.355c4.4922-1.8242 8.0742-5.4062 9.8984-9.8984l10.355 10.355c-2.5312 3.9805-5.9141 7.3672-9.8984 9.8984zm-44.152-9.9023l10.355-10.355c1.8242 4.4922 5.4062 8.0742 9.8984 9.8984l-10.352 10.359c-3.9844-2.5312-7.3711-5.918-9.9023-9.9023zm4.3984-39.754c1.6602-1.6602 3.5117-3.1328 5.5039-4.3984l10.355 10.355c-4.4922 1.8281-8.0742 5.4102-9.8984 9.8984l-10.359-10.352c1.2656-1.9922 2.7383-3.8398 4.3984-5.5039zm8.6289 22.629c0-7.7188 6.2812-14 14-14s14 6.2812 14 14-6.2812 14-14 14-14-6.2812-14-14zm36.621-22.633l0.011718 0.011718c1.6602 1.6602 3.1289 3.5078 4.3945 5.4961l-10.355 10.352c-1.8242-4.4922-5.4062-8.0742-9.8984-9.8984l10.355-10.355c1.9883 1.2656 3.832 2.7383 5.4922 4.3945zm-5.25 27.277c0.39844-1.4844 0.62891-3.0352 0.62891-4.6445s-0.23047-3.1602-0.62891-4.6445l10.707-10.707c2.5 4.5547 3.9219 9.7891 3.9219 15.352s-1.4219 10.797-3.9219 15.352zm-2.0195-32.723l-10.707 10.707c-1.4844-0.39844-3.0352-0.62891-4.6445-0.62891s-3.1602 0.23047-4.6445 0.62891l-10.711-10.707c4.5586-2.5 9.793-3.9219 15.355-3.9219s10.797 1.4219 15.352 3.9219zm-43.434 12.727l10.707 10.707c-0.39453 1.4844-0.625 3.0352-0.625 4.6445s0.23047 3.1602 0.62891 4.6445l-10.711 10.707c-2.4961-4.5547-3.918-9.7891-3.918-15.352s1.4219-10.793 3.918-15.352zm12.73 43.434l10.707-10.707c1.4844 0.39453 3.0352 0.625 4.6445 0.625s3.1602-0.23047 4.6445-0.62891l10.707 10.707c-4.5547 2.5-9.7891 3.9219-15.352 3.9219s-10.797-1.4219-15.352-3.918z"/>
            </svg>
          </div>
          <div class="feature-title"><%= t(:home_feature_title2) %></div>
          <div class="feature-text"><%= t(:home_feature_p2).html_safe %></div>
        </div>
      </div>

      <div class="feature">
        <div class="feature-content">
          <div class="icon">
            <svg version="1.1" width="100pt" height="100pt" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <g>
                <path d="m41.102 44.301c-0.5 0-0.89844 0.39844-0.89844 0.89844v29.102c0 0.5 0.39844 0.89844 0.89844 0.89844s0.89844-0.39844 0.89844-0.89844v-29.102c-0.10156-0.5-0.39844-0.89844-0.89844-0.89844z"/>
                <path d="m49 40.301c-0.5 0-0.89844 0.39844-0.89844 0.89844v35c0 0.5 0.39844 0.89844 0.89844 0.89844s0.89844-0.39844 0.89844-0.89844v-35c0-0.59766-0.39844-0.89844-0.89844-0.89844z"/>
                <path d="m33.199 49.898c-0.5 0-0.89844 0.39844-0.89844 0.89844v19.801c0 0.5 0.39844 0.89844 0.89844 0.89844s0.89844-0.39844 0.89844-0.89844l0.003906-19.898c0-0.39844-0.40234-0.80078-0.90234-0.80078z"/>
                <path d="m56.898 44.301c-0.5 0-0.89844 0.39844-0.89844 0.89844v29.102c0 0.5 0.39844 0.89844 0.89844 0.89844s0.89844-0.39844 0.89844-0.89844l0.003906-29.102c0-0.5-0.40234-0.89844-0.90234-0.89844z"/>
                <path d="m64.801 49.898c-0.5 0-0.89844 0.39844-0.89844 0.89844v19.801c0 0.5 0.39844 0.89844 0.89844 0.89844s0.89844-0.39844 0.89844-0.89844v-19.898c0-0.39844-0.39844-0.80078-0.89844-0.80078z"/>
                <path d="m56.398 37.5c0.5 0 0.89844-0.39844 0.89844-0.89844s-0.39844-0.89844-0.89844-0.89844l-14.797-0.003906c-0.5 0-0.89844 0.39844-0.89844 0.89844s0.39844 0.89844 0.89844 0.89844z"/>
                <path
                  d="m77.602 31.199c-3.3008-5-11.898-4.6992-16.602-4.5h-1.3984c-3.3984 0-9.6016 0.10156-10.398 0.10156-0.80078 0-7.3984-0.10156-10.699-0.10156h-1.3984c-4.6016-0.19922-13.301-0.5-16.602 4.5-2.8984 4.3984-2.8984 8.8984-0.10156 12.301 2.1016 2.5 5.5 4 8.6016 4 1.1016 0 2.3008-0.19922 3.3008-0.60156 3.1992-1.3008 5.1992-4.1016 5.5-7.5 0.19922-2.8008-0.89844-5.3984-2.8984-6.6992-2.3984-1.5-5.5-1.5-7.6992 0-1.8008 1.1992-2.5 3-2.1992 5.1016 0.5 2.8008 2.3984 3.3984 3.1992 3.5 1.5 0.19922 3.1016-0.5 3.6992-1.6992 0.60156-1.1992-0.19922-2.3984-0.80078-2.8984-0.30078-0.30078-0.89844-0.30078-1.1992 0-0.30078 0.39844-0.30078 0.89844 0 1.1992 0.19922 0.19922 0.5 0.69922 0.39844 0.89844-0.19922 0.5-1 0.89844-1.8984 0.80078-0.89844-0.10156-1.5-0.80078-1.6992-2.1016-0.30078-1.8008 0.69922-2.8008 1.3984-3.3008 1.6016-1.1016 4-1.1016 5.8008 0.10156 1.5 0.89844 2.3008 2.8984 2.1016 5.1016-0.19922 2.6992-1.8984 4.8984-4.3984 6-3 1.3008-7.3984 0-9.8008-2.8984-2.3008-2.8008-2.1992-6.3984 0.19922-10.199 2.8008-4.1992 10.801-3.8984 15-3.6992h1.5c3.3008 0 9.6992 0.10156 10.699 0.10156h0.10156 0.10156c1 0 7-0.10156 10.301-0.10156h1.5c4.3008-0.19922 12.301-0.5 15 3.6992 2.5 3.8008 2.5 7.3984 0.19922 10.199-2.3984 2.8984-6.8008 4.1992-9.8008 2.8984-2.5-1.1016-4.1992-3.3008-4.3984-6-0.19922-2.1992 0.60156-4.1016 2.1016-5.1016 1.8008-1.1016 4.1992-1.1992 5.8008-0.10156 0.69922 0.5 1.8008 1.5 1.3984 3.3008-0.19922 1.1992-0.80078 1.8984-1.6992 2.1016-0.80078 0.10156-1.6016-0.30078-1.8984-0.80078-0.10156-0.19922 0.19922-0.60156 0.39844-0.89844 0.39844-0.30078 0.39844-0.89844 0-1.1992-0.30078-0.39844-0.89844-0.39844-1.1992 0-0.60156 0.5-1.3984 1.8008-0.80078 2.8984 0.60156 1.1992 2.1992 1.8984 3.6992 1.6992 0.80078-0.10156 2.6992-0.69922 3.1992-3.5 0.39844-2-0.39844-3.8984-2.1992-5.1016-2.1992-1.5-5.3984-1.5-7.6992 0-2 1.3008-3.1016 3.8984-2.8984 6.6992 0.30078 3.3984 2.3008 6.1992 5.5 7.5 1 0.39844 2.1016 0.60156 3.3008 0.60156 3.1016 0 6.5-1.5 8.6016-4 2.6836-3.3984 2.6836-7.8984-0.21484-12.301z"/>
              </g>
            </svg>
          </div>
          <div class="feature-title"><%= t(:home_feature_title4) %></div>
          <div class="feature-text">
            <%= t(:home_feature_p4).html_safe %>
          </div>
        </div>
      </div>

      <div class="feature">
        <div class="feature-content">
          <div class="icon">
            <svg version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <g fill-rule="evenodd">
                <path
                  d="m63.914 12.781c-0.70703-0.03125-1.3789 0.3125-1.7656 0.90234-0.38672 0.58984-0.43359 1.3359-0.12109 1.9688l1.6445 3.4531c-4.1211-2.0391-8.7773-3.1914-13.691-3.1914-9.1562 0-17.41 3.9883-23.062 10.324-1.4102-2.1719-3.8516-3.6211-6.6133-3.6211-4.3281 0-7.8789 3.5469-7.8789 7.875 0 1.9336 0.70703 3.7148 1.875 5.0977-0.84766 0.36719-1.6562 0.82422-2.4062 1.375-2.4023 1.7656-4.1016 4.6328-4.1016 8.1328v3.8711-0.003906c-0.10156 0.625 0.10156 1.2656 0.55078 1.7188 0.015625 0.019531 0.035156 0.035156 0.050781 0.054687 0.45703 0.44531 1.0977 0.64453 1.7266 0.54297h20.406c0.62891 0.10156 1.2695-0.097656 1.7266-0.54297 0.019532-0.019531 0.039063-0.035156 0.054688-0.054687 0.44922-0.45312 0.65234-1.0898 0.54688-1.7188v-3.875c0-3.5-1.6992-6.3672-4.1016-8.1328-0.75781-0.55469-1.5742-1.0156-2.4336-1.3867 1.043-1.2383 1.7148-2.7969 1.8398-4.4961 4.8594-6.7656 12.82-11.176 21.816-11.176 5.1602 0 9.9688 1.4492 14.031 3.9492l-7.332 1.543 0.007813 0.003906c-0.53125 0.097657-1 0.40234-1.3008 0.85156-0.30078 0.44531-0.40625 0.99609-0.29297 1.5195 0.10938 0.52734 0.43359 0.98438 0.88672 1.2734 0.45703 0.28516 1.0117 0.37891 1.5391 0.25391l11.562-2.4336h-0.003906c0.60156-0.125 1.1094-0.51953 1.3828-1.0664 0.27344-0.54688 0.27734-1.1875 0.015625-1.7383l-4.8203-10.109c-0.3125-0.68359-0.98438-1.1328-1.7383-1.1641zm-43.605 13.824c2.1484 0 3.8711 1.6953 3.8711 3.8867 0 2.0898-1.582 3.7617-3.5859 3.9102-0.089844 0-0.17578-0.003906-0.26562-0.003906-0.097656 0-0.19531 0.003906-0.29297 0.003906-2.0078-0.14062-3.5938-1.8164-3.5938-3.9102 0-2.1875 1.7188-3.8867 3.8711-3.8867zm0.3125 11.789c2.1602 0.054688 4.2734 0.6875 5.75 1.7734 1.5469 1.1367 2.4766 2.625 2.4766 4.9258v2.1992h-17.039v-2.1992c0-2.3047 0.92969-3.7891 2.4766-4.9258 1.4727-1.0859 3.582-1.7188 5.7344-1.7734 0.097657 0.003907 0.19141 0.007813 0.28906 0.007813 0.10547 0 0.21094-0.003906 0.3125-0.007813z"/>
                <path
                  d="m22.77 54.258c-0.82812 0.007813-1.5664 0.52344-1.8555 1.293l-4.1406 10.973h-0.003907c-0.38672 1.0312 0.13672 2.1797 1.1758 2.5703 1.0352 0.38672 2.1914-0.13672 2.582-1.168l2.5078-6.6445c3.5469 6.375 9.293 11.371 16.25 13.938-1.1211 1.5898-1.8164 3.5586-1.8164 5.7852v3.8711c-0.10156 0.62891 0.10156 1.2656 0.54688 1.7188 0.019531 0.019531 0.035156 0.039062 0.054687 0.054688 0.45703 0.44531 1.0977 0.64844 1.7266 0.54297h20.367c0.62891 0.10547 1.2734-0.097656 1.7266-0.54297 0.019531-0.015626 0.039063-0.035157 0.054687-0.054688 0.44922-0.45312 0.65234-1.0898 0.54688-1.7148v-3.875c0-3.4922-1.6992-6.3516-4.0977-8.1133-0.75391-0.55469-1.5664-1.0117-2.4258-1.3789 1.1758-1.3867 1.8906-3.1719 1.8906-5.1133 0-4.3281-3.5547-7.875-7.8789-7.875-4.3281 0-7.8789 3.5469-7.8789 7.875 0 1.9414 0.71484 3.7266 1.8906 5.1133-0.43359 0.1875-0.85156 0.39844-1.2617 0.62891-5.7031-1.5938-10.621-5.0273-14.102-9.6094l2.8398 1.8906v0.003906c0.44141 0.30859 0.98828 0.42578 1.5195 0.32812s1-0.40625 1.3008-0.85156c0.30078-0.44531 0.40625-0.99219 0.29688-1.5195-0.11328-0.52344-0.43359-0.98437-0.88672-1.2734l-9.793-6.5156c-0.33594-0.22266-0.73047-0.33984-1.1367-0.33594zm27.211 8.2578c2.1484 0 3.8711 1.6953 3.8711 3.8867 0 2.1875-1.7344 3.9219-3.8711 3.9219-2.1328 0-3.8711-1.7344-3.8711-3.9219s1.7188-3.8867 3.8711-3.8867zm0 11.805c2.2578 0 4.4922 0.64844 6.0312 1.7812 1.543 1.1328 2.4688 2.6133 2.4688 4.9062v2.1992h-17.004v-2.1992c0-2.293 0.92578-3.7734 2.4688-4.9062 1.543-1.1328 3.7773-1.7812 6.0312-1.7812z"/>
                <path
                  d="m79.656 22.617c-4.3281 0-7.8789 3.5469-7.8789 7.875 0 1.9336 0.70703 3.7148 1.875 5.0977-0.84766 0.36719-1.6562 0.82422-2.4062 1.375-2.4023 1.7656-4.1016 4.6328-4.1016 8.1328v3.8711-0.003906c-0.10547 0.625 0.097657 1.2656 0.54688 1.7188 0.015625 0.019531 0.035156 0.035156 0.054688 0.054687 0.45703 0.44531 1.0977 0.64453 1.7266 0.54297h6.832c-0.99609 5.5312-3.7148 10.457-7.5781 14.223l1.6367-3.4609c0.23828-0.48047 0.27734-1.0352 0.097657-1.543-0.17578-0.50781-0.55078-0.92578-1.0391-1.1523-0.48828-0.23047-1.0508-0.25391-1.5586-0.0625-0.50391 0.1875-0.91406 0.57031-1.1328 1.0625l-5.0078 10.598c-0.26172 0.55078-0.25391 1.1914 0.023438 1.7383 0.27344 0.54688 0.78125 0.9375 1.3828 1.0625l11.562 2.3984v-0.003906c0.52344 0.125 1.0781 0.03125 1.5352-0.25781 0.45703-0.28906 0.77734-0.75 0.88672-1.2734 0.10938-0.52734 0.003907-1.0781-0.30078-1.5234-0.30078-0.44531-0.77344-0.75-1.3047-0.84766l-6.8398-1.418c6.1367-4.668 10.465-11.594 11.699-19.539h9.5078c0.63281 0.10156 1.2734-0.097656 1.7305-0.54297 0.015625-0.019531 0.035156-0.035156 0.054687-0.054687 0.44531-0.45312 0.64844-1.0898 0.54688-1.7188v-3.875c0-3.5-1.6992-6.3672-4.1016-8.1328-0.75781-0.55469-1.5742-1.0156-2.4336-1.3867 1.1602-1.3828 1.8633-3.1562 1.8633-5.0859 0-4.3281-3.5547-7.875-7.8789-7.875zm0 3.9883c2.1484 0 3.8711 1.6953 3.8711 3.8867 0 2.0898-1.582 3.7617-3.5859 3.9102-0.089844 0-0.17578-0.003906-0.26562-0.003906-0.097656 0-0.19531 0.003906-0.29297 0.003906-2.0078-0.14062-3.5938-1.8164-3.5938-3.9102 0-2.1875 1.7188-3.8867 3.8711-3.8867zm0.3125 11.789c2.1602 0.054688 4.2734 0.6875 5.75 1.7734 1.5469 1.1367 2.4766 2.625 2.4766 4.9258v2.1992h-9.2617c-0.21875-0.035157-0.4375-0.035157-0.65625 0h-7.125v-2.1992c0-2.3047 0.92969-3.7891 2.4766-4.9258 1.4727-1.0859 3.582-1.7188 5.7344-1.7734 0.097657 0.003907 0.19141 0.007813 0.28906 0.007813 0.10547 0 0.21094-0.003906 0.3125-0.007813z"/>
              </g>
            </svg>

          </div>
          <div class="feature-title"><%= t(:home_feature_title5) %></div>
          <div class="feature-text"><%= t(:home_feature_p5).html_safe %></div>
        </div>
      </div>

      <div class="feature">
        <div class="feature-content">
          <div class="icon">
            <svg version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <path
                d="m50.008 0c7.5781 0 15.156 2.7344 21.125 8.2031 11.703 10.719 13.441 28.488 4.2227 41.285-4.293 5.5234-6.5859 12.305-6.5859 19.262 0 1.6562-0.66016 3.2461-1.832 4.418s-2.7656 1.832-4.4219 1.832h-25.016c-1.6562 0-3.25-0.66016-4.4219-1.832s-1.832-2.7617-1.832-4.418c0-6.957-2.3203-13.719-6.6133-19.242-9.2188-12.797-7.457-30.586 4.25-41.305 5.9688-5.4648 13.547-8.2031 21.125-8.2031zm0 4.1523c-6.5625 0-13.121 2.375-18.309 7.125-10.375 9.5-11.758 25.301-3.1914 36.457 4.4766 6.1016 6.9102 13.457 6.9102 21.016 0 0.55469 0.21875 1.082 0.60938 1.4727s0.92188 0.60938 1.4727 0.60938h25.016c0.55469 0 1.082-0.21875 1.4727-0.60938s0.60938-0.91797 0.60938-1.4727c0-7.5586 2.4492-14.898 6.9258-21 8.5664-11.16 7.168-26.973-3.207-36.473-5.1875-4.75-11.746-7.125-18.309-7.125zm12.508 75.016v-0.003907c0.55859-0.007812 1.0938 0.21094 1.4922 0.60156 0.39844 0.39062 0.62109 0.92578 0.62109 1.4844 0 0.55469-0.22266 1.0898-0.62109 1.4805-0.39844 0.39453-0.93359 0.60938-1.4922 0.60156h-25.016c-0.55859 0.007813-1.0938-0.20703-1.4922-0.60156-0.39844-0.39062-0.62109-0.92578-0.62109-1.4805 0-0.55859 0.22266-1.0938 0.62109-1.4844 0.39844-0.39062 0.93359-0.60938 1.4922-0.60156h25.016zm0 8.3359v-0.003906c0.55859-0.007812 1.0938 0.20703 1.4922 0.59766 0.39844 0.39453 0.62109 0.92578 0.62109 1.4844 0 0.55859-0.22266 1.0938-0.62109 1.4844-0.39844 0.39062-0.93359 0.60938-1.4922 0.59766h-25.016c-0.55859 0.011719-1.0977-0.20703-1.4922-0.59766-0.39844-0.39062-0.62109-0.92578-0.62109-1.4844 0-0.55859 0.22266-1.0898 0.62109-1.4844 0.39453-0.39062 0.93359-0.60547 1.4922-0.59766h25.016zm-6.2539 8.3359v-0.007813c0.55859-0.007812 1.0938 0.21094 1.4922 0.60156 0.39844 0.39062 0.62109 0.92578 0.62109 1.4844 0 0.55469-0.22266 1.0898-0.62109 1.4805-0.39844 0.39453-0.93359 0.60937-1.4922 0.60156h-12.508c-0.55859 0.007812-1.0977-0.20703-1.4922-0.60156-0.39844-0.39063-0.62109-0.92578-0.62109-1.4805 0-0.55859 0.22266-1.0938 0.62109-1.4844 0.39453-0.39062 0.93359-0.60938 1.4922-0.60156h12.508z"
                fill-rule="evenodd"/>
            </svg>
          </div>
          <div class="feature-title"><%= t(:home_feature_title3) %></div>
          <div class="feature-text"><%= t(:home_feature_p3).html_safe %></div>
        </div>
      </div>
    </div>

  </div>
</div>
