<div class="container">
  <div class="row">
    <div class="media-partners">
      <h3><%= t(:media_partners) %></h3>
        <%= image_tag "media/ogc.png", alt:"Dreamstones Media partners - Overseas", class: "media-partner" %>
        <%= image_tag "media/smart.png", alt:"Dreamstones Media partners - Homebuilding Renovating", class: "media-partner" %>
        <%= image_tag "media/rightmove.png", alt:"Dreamstones Media partners -  Rightmove Overseas", class: "media-partner" %>
        <%= image_tag "media/homebuilding.png", alt:"Dreamstones Media partners - Homebuilding Renovating", class: "media-partner" %>
        <%= image_tag "media/bnp.jpg", alt:"Dreamstones Media partners - Homebuilding Renovating", class: "media-partner" %>
    </div>
  </div>
</div>
