<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <%= link_to root_path , class: "navbar-wagon-brand" do %>
    <div class="logo navbar-wagon-right">
    <%= image_tag "logo-light.png" %>
    <h3>Dreamstones</h3>
    </div>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to t(:home), root_path, {class:"navbar-wagon-item navbar-wagon-link"} %>
    <%= link_to t(:process), process_path , {class:"navbar-wagon-item navbar-wagon-link"} %>
    <%= link_to t(:testimonial), testimonials_path, {class:"navbar-wagon-item navbar-wagon-link"} %>
    <%= link_to t(:project), projects_path, {class:"navbar-wagon-item navbar-wagon-link"} %>
    <%= link_to t(:team), teams_path, {class:"navbar-wagon-item navbar-wagon-link"} %>
    <a class="typeform-share navbar-wagon-item navbar-wagon-link" href="https://dreamstones.typeform.com/to/FGLHsi" data-mode="1" target="_blank">Contact</a>

    </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to t(:home), root_path %></li>
        <li><%= link_to t(:process), process_path  %></li>
        <li><%= link_to t(:testimonial), testimonials_path  %></li>
        <li><%= link_to t(:project), projects_path %></li>
        <li><%= link_to t(:team), teams_path %></li>
        <li><a class="typeform-share navbar-wagon-item navbar-wagon-link" href="https://dreamstones.typeform.com/to/FGLHsi" data-mode="1" target="_blank">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
