<div class="wrapper-dark">
  <div class="contrainer">
    <div class="row">
      <h3 class="process-h3"><%= t(:simple_pro_h3) %></h3>
      <div class="slider text-center">
        <div class="left">
          <%= image_tag "user-slider.png" %>
        </div>
          <div class="juxtapose">
            <%= image_tag 'images/main-sliderA.png' %>
            <%= image_tag 'images/main-sliderB.png' %>
          </div>
        <div class="right">
          <%= image_tag "home-slider.png" %>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
