<div class="banner banner-home" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.3) 0%, rgba(0,0,0,0.3) 0%), url(<%= asset_path('sk2real.jpg') %>);">
  <div class="banner-content text-center">
    <h1>ARCHITECTS <span class="orange">&</span> BUILDERS</h1>
    <p><%= t(:baseline_p)%></p>
  </div>
</div>
<div class="container">
  <div class="row">

    <div class="title3">
        <span class="pre">select your</span><br>
        PROJECTS<span class="orange"> TYPE</span>
    </div>
    <%= render 'shared/project/project-card' %>
  </div>
</div>
<%= render 'shared/single-point-contact' %>

<%= render 'shared/media-partners' %>
<%= render 'shared/home-features' %>
