<div class="banner banner-home" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.6) 0%, rgba(0,0,0,0.6) 0%), url(<%= asset_path('sk2real.jpg') %>);">
  <div class="banner-content text-center">
    <h1>DREAMSTONES</br>ARCHITECTS & BUILDERS</h1>
    <p><%= t(:baseline_p)%></p>
      <%= link_to projects_path, class: 'main-btn' do %>
        <span><%= t(:baseline_cta) %></i></span>
      <% end %>
  </div>
</div>
<%= render 'shared/single-point-contact' %>
<div class="container">
  <div class="row">
    <div class="text-center"><h3>Most popular project types</h3></div>
<%= render 'shared/project/project-card' %>
  </div>
</div>

<%= render 'shared/media-partners' %>
<%= render 'shared/home-features' %>
