<div class="banner banner-home" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 0%, rgba(0,0,0,0.5) 0%), url(<%= asset_path('sk2real.jpg') %>);">
  <div class="banner-content text-center">
    <h1><%= t(:baseline)%></h1>
    <p><%= t(:baseline_p)%></p>
    <%= link_to "#{t(:baseline_cta)}", process_path , class: "ds-btn btn-blue"%>
  </div>
</div>


<div class="wrapper-dark-home">
  <div class="row">
    <div class="home-icons">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="home-icon text-right">
        <%= image_tag 'newbuild-home.png'%>
        <h3><%= t(:home_new_build)%></h3>
      </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="home-icon text-center">
        <%= image_tag 'renovation-home.png'%>
        <h3><%= t(:home_renovation)%></h3>
      </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="home-icon text-left">
        <%= image_tag 'extension-home.png'%>
        <h3><%= t(:home_extension)%></h3>
      </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="france text-left">
          <%= image_tag 'france.png'%>
      </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/media-partners' %>
<%= render 'shared/simple-process' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div>
        <h3><%= t(:home_h3) %></h3>
        <p class="text-justify"><%= t(:home_p1) %></p>
        <p class="text-justify"><%= t(:home_p2) %></p>
        <p class="text-justify"><%= t(:home_p3) %></p>
        <p class="text-justify"><%= t(:home_p4) %></p>
        <div class="margin-b"></div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/home-features' %>
