<div class="banner banner-home" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.6) 0%, rgba(0,0,0,0.6) 0%), url(<%= asset_path('sk2real.jpg') %>);">
  <div class="banner-content text-center">
    <h1><%= t(:baseline)%></h1>
    <p><%= t(:baseline_p)%></p>
      <%= link_to projects_path, class: 'main-btn' do %>
        <span><%= t(:baseline_cta) %>  <i class="fa fa-home"></i></span>
      <% end %>
  </div>
</div>


<!-- <div class="wrapper-dark-home">
  <div class="container-fluid">
    <div class="row">
      <div class="home-icons">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="home-icon" id="new-build">
            <%= image_tag 'newbuild-home.png'%>
            <h3><%= t(:home_new_build)%></h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="home-icon" id="renovation">
            <%= image_tag 'renovation-home.png'%>
            <h3><%= t(:home_renovation)%></h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="home-icon" id="extension">
            <%= image_tag 'extension-home.png'%>
            <h3><%= t(:home_extension)%></h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="france">
            <%= image_tag 'france.png'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<%= render 'shared/single-point-contact' %>
<div class="container">
  <div class="row">
<%= render 'shared/project/project-card' %>
  </div>
</div>

<%= render 'shared/media-partners' %>
<%= render 'shared/home-features' %>
