
<div class="banner banner-commun" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.6) 0%, rgba(0,0,0,0.6) 40%), url( <%= asset_path("testimonial-header.jpg") %> );">
  <div class="banner-content">
    <h1><%= t(:team_title) %></h1>
  </div>
</div>
<div class="container">
  <div class="row">

  </div>
</div>














    <!-- <div class="team-cards">
      <% data.team.each do |member| %>
        <div class="col-xs-6 col-sm-3 col-md-2">
          <div class="team-card">
            <div class="team-card-picture">
              <%= image_tag "#{member.picture}", class:"avatar-large" %>
              <%= image_tag "#{member.dreamhouse}", class:"dreamhouse" %>
            </div>
            <div class="team-card-content">
              <h3><%= member.name %></h3>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
  <p><%= t(:team_p1) %></p>
  <p><%= t(:team_p2) %></p>
</div>-->
