<div class="banner banner-process" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.6) 0%, rgba(0,0,0,0.6) 40%), url( <%= asset_path('process-bg.png') %>);">
  <div class="banner-content">
    <h1><%= t(:project_page_h1) %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="project-cards">
      <% @projects.each do |project| %>
        <%= link_to project_path(project) do %>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="project-card" style="background-image: url( <%= asset_path("assets/images/projects/#{project.image}") %>), linear-gradient( -225deg ,rgba(0,0,0,0.4), rgba(0,0,0,0.4) );">
                  <div class="project-title">
                    <h3><%= project.title %></h3>
                  </div>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
