<div class="banner banner-project"
  style="background-image:
    linear-gradient(-225deg, rgba(0, 0, 0, 0.6) 0%, rgba(0,0,0,0.6) 40%),
    url( <%= asset_path('sk2real-web.jpg')%> );">
  <div class="banner-content">
    <h1>Your project of <%= @project.title.downcase %> in France</h1>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="project-text-content">
        <h1><%= @project.title %></h1>
        <p><%= @project.text %></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="project-text-picture">
      <%= image_tag "projects/process-project-web.png" %>
      <!--  image #{@project} -->
      </div>
    </div>
  </div>
</div>
<%= render 'shared/home-features' %>
<%= render 'shared/simple-process' %>








<% @testimonials.each do |testi|  %>
<p><%= testi.text %></p>
<p><%= testi.author %></p>
<% end %>

<!--  ruby way   -->
