<% content_for :meta_title, "Architect & builders for #{@project.title.downcase} project" %>
<% content_for :meta_description, @project.text %>
<% content_for :meta_image, @project.photo.path %>
<% content_for :robots, 'index, follow' %>

<div class="banner banner-project-show"
  style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.6) 0%, rgba(0,0,0,0.6) 40%), url( <%= @project.photo.fullpath%> );">
  <div class="banner-content">
    <h1>Architects & Builders</br>for your <span class="project-show-title"><%= @project.title.downcase %></span> project</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="project-type">
        <!-- <%= image_tag "renovation-project.png"%> -->
        <%= image_tag "#{icon_category(@project.category)}-home.png" , class: 'logo-project-type'%>
        <p><%= @project.category %> PROJECT</p>
      </div>
      <div class="project-text-content">
        <h2>Your <%= @project.title %> project in France</h2>
        <p><%= simple_format(@project.text) %></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="project-text-form text-center">
<div class="typeform-widget" data-url="https://dreamstones.typeform.com/to/BrA63A" style="width: 100%; height: 550px;" > </div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/single-point-contact' %>
<%= render 'shared/home-features' %>

<% if @project.pictures? %>
<div class="row">
  <div class="project-pictures">
    <div class="project-picture" style="background-image: url(<%= @project.pictures.first.fullpath%>)">

    </div>
    <div class="project-picture project-picture-margin-corect" style="background-image: url(<%= @project.pictures.second.fullpath%>)">
    <%= image_tag 'unique-central.png' %>
    </div>
  </div>
</div>
<% end %>

<div class="wrapper-light-icon">
  <div class="container">
    <%= render 'shared/faq' %>
    <div class="row">
      <div class="lastest-project-cards">
        <h3><%= t(:last_project) %></h3>
        <% @portofolios.each do |last_project| %>
          <%= render partial: "shared/last-projects", locals: {last_project: last_project} %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <h3 class="text-center"><%= t(:testomial_project_title) %></h3>

<div class="new-testomonial">
  <div class="testi-card testi-featured">
            <div class="testi-card-content ">
              <p>"We worked with Dreamstones and this proved ideal as the house we ended up buying was in need of total renovation. If we hadn't had the expertise and shared vision of Dreamstones, we would not have bought our farmhouse. Subsequently, we worked over several months finalising plans and designs, in great detail, to transform a dark lair of a place into something full of light and air. Dreamstones kept us up to speed on every nuance with frequent email and photo updates to ensure we were comfortable with the progress. This care and attention to detail coupled with their experience meant, by August 2015, we had the home of our dreams in Southern France."</p>
            </div>
            <div class="testi-card-name">
              <h3>David & Katie</h3>
            </div>
            <div class="testi-photos">
                <%= image_tag 'katie.png', class: 'image-circle image-border-light' %>
                <%= image_tag 'david.png', class: 'image-circle image-border-light' %>
            </div>

        </div>
  <div class="testi-card-connection">
<%= image_tag 'testi-renovation.png' %>
  </div>
  <div class="testi-card-video">
    <div class="flex-video">
      <iframe width="450" height="315"src="https://www.youtube.com/embed/ObUcj1pCgrg?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

</div>

    </div>
  </div>
</div>
