<div class="banner banner-project"
  style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.6) 0%, rgba(0,0,0,0.6) 40%), url( <%= asset_path('sk2real.jpg')%> );">
  <div class="banner-content">
    <h1>Your <%= @project.title.downcase %> project in France</h1>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="project-text-content">
        <h2><%= @project.title %></h2>
        <p><%= simple_format(@project.text) %></p>
          <%= link_to t(:pre_modal_btn_landing),"https://dreamstones.typeform.com/to/FGLHsi", data: { mode: "1"}, target:"_blank", class:"typeform-share ds-btn btn-orange" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="project-text-picture text-center">
      <%= image_tag "projects/process-project-web.png" %>
      <%= cl_image_tag @project.photo.path, height: 350, width: 550, crop: :fill, class:"img-top-pad"%>

      </div>
    </div>
  </div>
</div>
<%= render 'shared/simple-process-light' %>
<%= render 'shared/home-features' %>
<div class="container">
  <div class="row">
    <h2 class="text-center"><%= t(:testomial_project_title) %></h2>
    <% @testimonials.each do |testimonial|  %>
      <div class="col-xs-12 col-md-6">
        <div class="testi-card">
          <div class="testi-card-content">
            <p>"<%= testimonial.text %>"</p>
          </div>
          <div class="testi-card-name">
            <h3><%= testimonial.author %></h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
