<!-- <% @testimonials.each do |testi| %>
  <h3><%= testi.author%></h3>
  <p><%= testi.text%></p>
<% end %> -->


<div class="banner banner-commun" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.6) 0%, rgba(0,0,0,0.6) 40%), url(<%= asset_path('testimonial-header.jpg') %>;">
  <div class="banner-content">
    <h1>Our clients speak for us</h1>
  </div>
</div>
  <ul class="nav nav-tabs nav-tabs-wrapper testi-menu" role="tablist">
    <li role="presentation" class="active"><a href="#testimonial" aria-controls="testimonial" role="tab" data-toggle="tab">TESTIMONIAL</a></li>
    <li role="presentation" ><a href="#portofolio" aria-controls="portofolio" role="tab" data-toggle="tab">PORTOFOLIO</a></li>
  </ul>
<div class="container">
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="testimonial">
        <div class="row">
          <div class="cards">
            <% @testimonials.each do |testimonial| %>
              <div class="col-xs-12 col-md-4">
                <div class="testi-card">
                  <div class="testi-card-content">
                    <p>"<%= testimonial.text %>"</p>
                  </div>
                  <div class="testi-card-name">
                    <h3><%= testimonial.author %></h3>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="portofolio">
        <div class="row">
          <h3>GAllerry images</h3>
          <div class="row">
            <div class="photos">


            </div>
          </div>
        </div>
      </div>
  </div>
</div>
